<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <div class="header">
        <nav>
            <li ><a class="active" href="/" >Home</a></li>
            <li><a href="/admin/name" >Contact</a></li>
            <li><a href="/admin/login" >Login</a></li>
        </nav>
    </div>

        <div class="main">
            <h1>This is Home Page</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9SRRmhH4X5N2e4QalcoxVbzYsD44C-sQv-w&s" alt="photo"/>
            
    </div>
    
</body>
</html>