.enlarge {
    font-size: 14px;
    transition: {
      property: font-size;
      duration: 4s;
      delay: 2s;
    }
  
    &:hover { font-size: 36px; }
  }


     // margin: auto {
    //   bottom: 10px;
    //   top: 2px;
    // };
    
  


$rounded-corners: false;

.button {
  border: 1px solid black;
  border-radius: if($rounded-corners, 5px, null);
}

.alert {
    // The parent selector can be used to add pseudo-classes to the outer
    // selector.
    &:hover {
      font-weight: bold;
    }
  
    // It can also be used to style the outer selector in a certain context, such
    // as a body set to use a right-to-left language.
    
  
    // You can even use it as an argument to pseudo-class selectors.
    :not(&) {
      opacity: 0.8;
    }
  }
  .accordion {
    max-width: 600px;
    margin: 4rem auto;
    width: 90%;
    font-family: "Raleway", sans-serif;
    background: #f4f4f4;

    &__copy {
      display: none;
      padding: 1rem 1.5rem 2rem 1.5rem;
      color: gray;
      line-height: 1.6;
      font-size: 14px;
      font-weight: 500;
    }
    &__copy--open {
      display: block;
    }
    &_hello{
      color: gray;
      line-height: 1.6;
      font-size: 14px;
      font-weight: 500;
    }

  }
  